.env
data/
backups/*
!backups/.gitkeep
certs/*
!certs/.gitkeep
acme/*
!acme/.gitkeep
sites/*
!sites/.gitkeep
logs/*
!logs/.gitkeep
www/*
!www/default/
www/default/*
!www/default/index.php
nginx/conf.d/*.conf
!nginx/conf.d/default.conf
tengine/conf.d/*.conf
!tengine/conf.d/default.conf
openresty/conf.d/*.conf
!openresty/conf.d/default.conf
apache/conf.d/*.conf
!apache/conf.d/default.conf
caddy/sites/*
!caddy/sites/.gitkeep
tomcat/webapps/*
!tomcat/webapps/ROOT/
tomcat/webapps/ROOT/*
!tomcat/webapps/ROOT/index.jsp
tomcat/oracle/*
!tomcat/oracle/README.md
